{% extends "layout.html" %}

{% block title %}
Top Recommended crops :- 
{% endblock %}

{% block body %}
        <h1>Top Recommended Fertilizer :- </h1><br><br>
        <h2>{% for i in trec %}
                {{i}}</br>
            {%endfor%}</h2>
        <br><br>
        <br><br>
        <!--
        <h1>Recommended crops on each models :- </h1><br><br>
        <h2>KNN : </h2><h3>crop : {{ rckn }} </h3><br><br>
        <h2>Random Forest : </h2><h3>crop : {{ rcrf }} </h3><br><br>   
        <h2>Support Vector Machine : </h2><h3>crop : {{ rcsvm }} </h3><br><br>
        <br><br>-->
    <a href='/'>go back to home page</a>

    </center>

{% endblock %}
